<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<!-- 创建一个Servlet实例 -->
<servlet>
	<servlet-name>servletDemo</servlet-name><!-- 对象名 -->
	<servlet-class>ServletDemo1.TestServlet</servlet-class><!-- 这里的内容为被创建类的地址 -->
</servlet>
<!-- 给servlet提供一个可访问的URI地址 -->
<servlet-mapping>
	<servlet-name>servletDemo</servlet-name><!-- 通过对象名访问类 -->
	<url-pattern>/demo</url-pattern><!-- URI地址 -->
</servlet-mapping>

<servlet>
	<servlet-name>servletDemo1</servlet-name>
	<servlet-class>ServletDemo1.TestGenericServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>servletDemo1</servlet-name>
	<url-pattern>/demo1</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>servletDemo2</servlet-name>
	<servlet-class>ServletDemo1.TestHttpServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>servletDemo2</servlet-name>
	<url-pattern>/demo2</url-pattern>
</servlet-mapping>


<servlet>
	<servlet-name>testServletConfig</servlet-name>
	<servlet-class>ServletDemo1.TestServletConfig</servlet-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>GBK</param-value>
	</init-param>
</servlet>
<servlet-mapping>

	<servlet-name>testServletConfig</servlet-name>
	<url-pattern>/demo3</url-pattern>
</servlet-mapping>



  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
