<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<context-param>
	<param-name>encoding</param-name>
	<param-value>UTF-8</param-value>
</context-param>

<servlet>
	<servlet-name>cookdemo1</servlet-name>
	<servlet-class>Cookie.Cookdemo1</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>cookdemo1</servlet-name>
	<url-pattern>/cookie/demo1</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>clearCookie</servlet-name>
	<servlet-class>Cookie.ClearCookie</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>clearCookie</servlet-name>
	<url-pattern>/cookie/clear</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>remeberMe</servlet-name>
	<servlet-class>Cookie.RemeberMe</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>remeberMe</servlet-name>
	<url-pattern>/cookie/remeberme</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>remeberMe1</servlet-name>
	<servlet-class>Cookie.RemeberMe1</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>remeberMe1</servlet-name>
	<url-pattern>/cookie/remeberme1</url-pattern>
</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>